<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vuforia.samples.VuforiaSamples"
          android:versionCode="200"
          android:versionName="5.0">

	<!--
		The application's compatibility with one or more versions of the Android
		platform.

		android:minSdkVersion = application's required minimum API level to run
		android:targetSdkVersion = application's targeted API level
	-->
	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="22"/>

	<uses-feature android:glEsVersion="0x00020000"/>

	<!--
		 The application requires a camera.

		 NOTE: Any application that requests the CAMERA permission but does not
		 declare any camera features with the <uses-feature> element will be
		 assumed to use all camera features (auto-focus and flash). Thus, the
		 application will not be compatible with devices that do not support
		 all camera features. Please use <uses-feature> to declare only the
		 camera features that your application does need. For instance, if you
		 request the CAMERA permission, but you do not need auto-focus or
		 flash, then declare only the android.hardware.camera feature. The
		 other camera features that you do not request will no longer be
		 assumed as required.
	-->
	<uses-feature android:name="android.hardware.camera"/>

	<!--
		Add this permission to get access to the camera.
	-->
	<uses-permission android:name="android.permission.CAMERA"/>

	<!--
		Add this permission to allow opening network sockets.
	-->
	<uses-permission android:name="android.permission.INTERNET"/>

	<!--
		Add this permission to check which network access properties (e.g.
		active type: 3G/WiFi).
	 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<!--
	  NOTE: The setting 'android:launchMode="singleTask"' makes sure
	  that the activity can begin only one task and the device can hold only
	  one instance of the activity at a time. However, it allows other
	  activities to be part of its task (unlike the 'singleInstance' mode).
	  It's at the root of the activity stack, but other activities (necessarily
	  "standard" and "singleTop" activities) can be launched into the same task.
	  If this attribute is not set, the default value 'standard' is used, which
	  would allow the activity to be launched multiple times.
	-->
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:description="@string/app_description"
		android:launchMode="singleTask"
		android:allowBackup="true"
		android:theme="@style/SampleAppsTheme"
		>


		<!--
		  NOTE: The values in 'android:configChanges' ensure that Android will
		  not destroy and re-create the activity when the user flips the
		  keyboard, changes the orientation of the device, or the actual or
		  physical screen resolution changes, but calls the Activity's
		  onConfigurationChanged() function instead.

		  NOTE 2: In order to prevent automatic reactions to orientation
		  changes in addition to setting proper values for
		  'android:configChanges', you also must explicitly specify the screen
		  orientation used by the application, either by setting the attribute
		  'android:screenOrientation' or in code by calling
		  Activity.setRequestedOrientation().
		-->
		<activity
			android:name=".ui.ActivityList.ActivityLauncher"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".app.ImageTargets.ImageTargetActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
			android:theme="@style/SampleAppsTheme"
			android:launchMode="singleTask"
			>
		</activity>

		<activity
			android:name=".app.VirtualButtons.VirtualButtonActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
			android:theme="@style/SampleAppsTheme"
			android:launchMode="singleTask"
			>
		</activity>

	</application>

</manifest>